.chat-info {
    margin-left: 210px;
    height: 120px;
    width: 88%;
    margin-top: 10px;
    background-color: #414141;
    color: #f8f8ff;
}

.chat-info-content {
    margin-left: 30px;
    padding-top: 10px;
    display: flex;
}

.channel-name {
    font-size: 300%;
    margin-bottom: 0;
}

.num-members {
    font-size: 100%;
    margin-left: 30px;
}

.search-bar {
    white-space: nowrap;
    height: 20px;
    margin-top: 25px;
    margin-left: 70%;
}

.search-bar:focus {
    outline: none;
}

.star-icon{ 
    margin-top: 10px;
}
